@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  background-color: #cac1c152;

}

/* Remove number input arrows */
@layer components {
  .no-spinner {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Standard */
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Removes extra spacing */
  }
}

.fixed.inset-0 {
  position: fixed;
  inset: 0;
  z-index: 1000; /* Ensure it appears above other elements */
}
.relative {
  position: relative;
  z-index: 10; /* Set a lower z-index to let the popup appear on top */
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
